*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;

  --clr-blue-dark: hsla(202, 43%, 22%, 1);
  --clr-blue: hsla(188, 43%, 26%, 1);
  --clr-green-dark: hsla(172, 53%, 28%, 1);
  --clr-green: hsla(104, 26%, 52%, 1);
  --clr-yellow: hsla(47, 100%, 68%, 1);
  --clr-cream: hsla(47, 90%, 90%, 1);

  font-family: "Playfair Display", serif;
}

html {
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  background-color: var(--clr-blue);
  text-align: center;
  font-family: var(--ff-Roboto);
}

header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}
h1 {
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: var(--clr-cream);
  border: 1px black solid;
  text-decoration: underline;
}

.game {
  padding: 2rem;
  height: 400px;
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  background-color: var(--clr-blue-dark);
}

.game div {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game input {
  height: 80%;
  width: 18%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-cream);
}
.answer {
  margin-top: 1rem;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}
.answer p {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: black solid 1px;
  background-color: var(--clr-cream);
}

button {
  height: 50px;
  margin: 20px;
  font-size: 30px;
  background-color: var(--clr-yellow);
}
