html {
  background-color: rgb(151, 218, 245);
  text-align: center;
}

h1 {
  font-size: 50px;
}

.game {
  height: 500px;
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  background-color: rgb(239, 248, 197);
}

.game div {
  border: 1px black solid;
  height: 80px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.game input {
  font-size: 20px;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.answer {
  font-size: 20px;
  text-transform: uppercase;
  border: 1px black solid;
  height: 80px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  margin: 20px;
  font-size: 30px;
}
